// import statements
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

// variables
$title-font: 'Montserrat', sans-serif;


body {
    margin: 0;
    font-family: $title-font;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: 800;
}

.titleBanner {
    padding: 20px 0;
    background: #0d6efd;
    color: #fff;
    position: relative;

    h1 {
        position: relative;
        margin-bottom: 0;
    }
}

.titleBanner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/banner_bg.avif') no-repeat center center;
    background-size: cover;
    opacity: .6;
}

.card {
    margin-bottom: 50px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    img {
        width: inherit;
        height: 160px;
        object-fit: cover;
    }
}

footer {
    padding: 20px 0;
    border-top: 1px solid gainsboro;
}

.introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    div {
        width: 60%;
    }

    .btn-group {
        width: auto;
    }
}

.thumbnailContainer {
    width: 390px;
    height: 220px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnail {
    border: 1px solid #0d6efd;
}

// mobile
@media (min-width: 320px) and (max-width: 480px) {
    .thumbnailContainer {
        width: 90%;
    }
}